$mainColor: #222222;
$bgColor: #ffffff;
$cardColor: #ffffff;
$black: #333333;
$mainGradient: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
$mainGradientReverse: linear-gradient(315deg, #647dee 0%, #7f53ac 74%);